<div
  class="container mt-5 d-flex align-items-center justify-content-center flex-column"
>
  <h1>{{title}}</h1>
  <p>Welcome to our Express Blog Application!</p>

  <div class="row">
    <a href="/auth/register" class="btn btn-primary mr-2">
      Register
    </a>
    <a href="/auth/login" type="submit" class="btn btn-primary">
      login
    </a>
  </div>
</div>